@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
main {
    margin-top: 60px;
    /* padding: 20px; */
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #faf0f9be;
    /* background-image: linear-gradient(to right, #c200fb, #ffbc0a); */
    background-repeat: no-repeat;
}

input,
textarea {
    background-color: #f3e5f5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #f3e5f5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 3px solid #d500f9 !important;
    outline-width: 0;
    font-weight: 500;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.card {
    border-radius: 0;
    border: none;

    box-shadow: 0 0 40px rgba(8, 7, 16, 0.411);
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to left, #ffd54f, #d500f9);
}

#logo {
    width: 70px;
    height: 60px;
}

#signUpbutton {
    margin-top: 20px;
}
.w-100.border.fixed-top.py-2 {
    background-image: linear-gradient(to left, #ffd54f, #d500f9);
}
.heading {
    margin-bottom: 60px !important;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000 !important;
}

::-ms-input-placeholder {
    color: #000 !important;
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to left, #ffd54f, #d500f9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
}

.btn-color:hover {
    color: #d500f9;
    border-radius: 50px;
    background-image: linear-gradient(to left, #ffff, #ffff);
    border: 2px solid #d500f9 !important;
}

.btn-white {
    border-radius: 50px;
    color: #d500f9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #d500f9 !important;
}

#page-title {
    font-weight: 600;
    padding: 4% 0 2% 0;
    display: flex;
    justify-content: center;
    color: #d500f9;
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to left, #ffd54f, #d500f9);
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.bottom {
    width: 100%;
    margin-top: 50px !important;
}

.sm-text {
    font-size: 15px;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    .card2 {
        width: 100%;
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important;
    }

    .card2 {
        padding: 50px;
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}

#createNewAccount {
    margin-left: 13px;
}

/* create_payment_page */

#eventDetails {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
#eventDetails > h4 {
    margin-top: 25px;
    font-weight: 600;
}

#add-user {
    background-color: #fff;
    color: #d500f9;
    border: 2px solid #d500f9 !important;
    width: 30px;
    height: 30px;
    text-align: center;
}

#add-user:hover {
    background-color: #d500f9;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
}

#eventDetails * {
    color: #0a0a0a;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin: 5px;
}

/* ===========================
--- Intro
============================ */

.intro {
    position: relative;
    background-color: rgb(255, 255, 255);
}

#intro.intro {
    padding: 5% 0 5% 0;
    width: 100vw;
}

.intro .slogan {
    text-align: center;
}

.intro .slogan h2 {
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
    text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
    color: rgb(181, 181, 181);
    text-shadow: -1px 1px 1px #000;
}

/* ===========================
--- Payments
============================ */

#all-payments-section {
    background-color: rgb(238, 228, 240);
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;
    align-items: center;
    text-align: center;
}

#all-payments-section > h1 {
    color: rgb(46, 3, 67);
    font-weight: 600;
}

#payments_owing_section > h3,
#payments_owed_to_me > h3 {
    color: rgb(71, 3, 104);
    font-size: 25px;
    font-weight: 500;
}

#paymentsOwingTable > #paymentsOwingTableBody {
    border-spacing: 20px 1em !important;
}

#payments_owing_section {
    margin: 10px 0 50px 0;
}

/* ===========================
--- Payments Event
============================ */

#all-payments-event-section {
    background-color: rgb(239, 225, 216);
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;
    align-items: center;
    text-align: center;
}

#all-payments-event-section > h1 {
    color: rgb(46, 3, 67);
    font-weight: 600;
}

/* ===========================
--- History
============================ */

#all-history-section {
    background-color: rgb(235, 227, 203);
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;
    align-items: center;
    text-align: center;
}

#all-history-section > h1 {
    color: rgb(46, 3, 67);
    font-weight: 600;
}

#payments_history_section > h3 {
    color: rgb(71, 3, 104);
    font-size: 25px;
    font-weight: 500;
}
