@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
#page {
    padding-bottom: 57px;
}
main {
    margin-top: 60px;
    /* padding: 20px; */
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #faf0f9be;
    /* background-image: linear-gradient(to right, #c200fb, #ffbc0a); */
    background-repeat: no-repeat;
}

input,
textarea {
    background-color: #f3e5f5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #f3e5f5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 3px solid #d500f9 !important;
    outline-width: 0;
    font-weight: 500;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

tr {
    vertical-align: middle;
}

tr p {
    display: table-cell;
}

.card {
    border-radius: 0;
    border: none;

    box-shadow: 0 0 40px rgba(8, 7, 16, 0.411);
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to left, #ffd54f, #d500f9);
}

#signUpbutton {
    margin-top: 20px;
}
.w-100.border.fixed-top.py-2 {
    background-image: linear-gradient(to left, #ffd54f, #d500f9);
}
.heading {
    margin-bottom: 60px !important;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000 !important;
}

::-ms-input-placeholder {
    color: #000 !important;
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to left, #ffd54f, #d500f9);
    padding: 15px;
    cursor: pointer;
    border: 2px solid !important;
    margin-top: 40px;
}

.btn-color:hover {
    color: #d500f9;
    border-radius: 50px;
    background-image: linear-gradient(to left, #ffff, #ffff);
    border: 2px solid #d500f9 !important;
}

.btn-white {
    border-radius: 50px;
    color: #d500f9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #d500f9 !important;
}

#page-title {
    margin-top: 100px;
    font-weight: 600;
    padding: 4% 0 2% 0;
    display: flex;
    justify-content: center;
    color: #d500f9;
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to left, #ffd54f, #d500f9);
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.bottom {
    width: 100%;
    margin-top: 50px !important;
}

.sm-text {
    font-size: 15px;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    .card2 {
        width: 100%;
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important;
    }

    .card2 {
        padding: 50px;
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}

#createNewAccount {
    margin-left: 13px;
}

#logo {
    width: 150px;
}

/* create_payment_page */

#eventDetails {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
#eventDetails > h4 {
    margin-top: 25px;
    font-weight: 600;
}

#add-user {
    background-color: #fff;
    color: #d500f9;
    border: 2px solid #d500f9 !important;
    border-radius: 20px;

    text-align: center;
}

#add-user:hover {
    background-color: #d500f9;
    color: #fff;

    text-align: center;
}

button.delete_user:hover {
    background-color: #fc2f00;
    color: #fff;

    text-align: center;
}

#eventDetails * {
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin: 5px;
}
button.delete_user {
    background-color: #fff;
    color: #fc2f00;
    border: 2px solid #fc2f00 !important;
    border-radius: 20px;

    text-align: center;
}
/* ===========================
--- Intro
============================ */

.intro {
    position: relative;
    background: linear-gradient(
        141deg,
        rgb(220, 203, 221) 25%,
        rgb(255, 254, 254) 70%,
        rgb(250, 230, 230) 55%
    );
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

#intro.intro {
    padding: 5% 0 5% 0;
    width: 100vw;
}

.intro .slogan {
    text-align: center;
}

.intro .slogan h2 {
    color: black;
    font-size: 15em;
    line-height: 60px;
    font-weight: 1000;
    font-family: Montserrat, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

.intro .slogan h4 {
    color: rgb(181, 181, 181);
    text-shadow: -1px 1px 1px #000;
    font-size: 30px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===========================
--- Payments
============================ */

#all-payments-section {
    background-color: #d500f95c;
    color: #ffffff;
    /* background-color: rgb(238, 228, 240); */
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;
    align-items: center;
    text-align: center;
    position: relative;
}

#all-payments-section > h1 {
    color: rgb(46, 3, 67);
    font-weight: 600;
}

#payments_owing_section > h3,
#payments_owed_to_me > h3 {
    color: rgb(71, 3, 104);
    font-size: 25px;
    font-weight: 500;
}

#paymentsOwingTable > #paymentsOwingTableBody {
    border-spacing: 20px 1em !important;
}

#payments_owing_section {
    margin: 10px 0 50px 0;
}
.logo_main_page {
    height: 50px;
}
.intro .slogan h2 {
    font-weight: 10;
    font-size: 50px;
}

/* ===========================
--- Payments Event
============================ */
span.event-details {
    background-color: #d500f9;
    color: #fff;
    padding: 6px;
    border: 2px solid #d500f9 !important;
    border-radius: 20px;
    font-size: 10px;
}
span.event-details:hover {
    color: black;
    background-color: white;
    cursor: pointer;

    text-align: center;
}
#all-payments-event-section {
    background-color: rgb(239, 225, 216);
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;
    align-items: center;
    text-align: center;
}

#all-payments-event-section > h1 {
    color: rgb(46, 3, 67);
    font-weight: 600;
}

/* ===========================
--- History
============================ */

#all-history-section {
    background-color: #ffbc0a;

    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;
    align-items: center;
    text-align: center;
}

#all-history-section > h1 {
    color: rgb(46, 3, 67);
    font-weight: 600;
}

#payments_history_section > h3 {
    color: rgb(71, 3, 104);
    font-size: 25px;
    font-weight: 500;
}

/* nav-bar */
#menu_button {
    border: 2px solid white !important;
}

/* footer */
footer {
    background-color: #2d3e50;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.github {
    color: #fff;
}
#octicon {
    color: white;
}

/* test */
div.test {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
div.test:first-of-type {
    animation: showup 7s;
}
div.test:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}
div.test:last-of-type span {
    margin-left: -280px;
    animation: slidein 30s;
}
@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 280px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 280px;
    }
}

